@import "mixins";
@import "variables";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 16px;
    padding: 28px 18px;
    background-color: $bgcolor;
    color: white;   
    position: relative;
    
    @include devices(desktop){
        justify-content: space-around;
    }

    &__menu{
        @include devices(tablet){
            background-color: bisque;
        }
        @include devices(desktop){
            display: none;
        }
    }

    &__cart{
        position: relative;
        &___box{
            cursor: pointer;
            
            &_notify{
                position: absolute;
                top: -8px;
                right: -8px;
                background-color: $color;
                height: 18px;
                width: 18px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }

    &__title___name{
        font-size: 28px;
        @include devices(tablet){
            font-size: 22px;
        }
        @include devices(desktop){
            font-size: 28px;
        }
    }

    &__links{
        display: none;
        @include devices(desktop){
            display: flex;
            list-style: none;
            gap: 30px;
            letter-spacing: 1.3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        &___link{
            transition: color 0.3s ease;
            &:hover{
                color: $color;
            }
        }
        &___active{
            color: $color;
        }
    }

    &__lists{
        position: absolute;
        top: 80px;
        z-index: 10;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        background-color: aliceblue;
        width: 100vw;
        padding: 70px 0;
        transition: all 0.6s ease-in-out;
        @include devices(desktop){
            display: none;
        }
    }
    &__hide{
        position: absolute;
        top: -1000px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        background-color: aliceblue;
        width: 100vw;
        padding: 70px 0;
        transition: all 0.4s ease-in-out;
        @include devices(desktop){
            display: none;
        }
    }
}