@import "./variables";
@import "./mixins";


.button__main{
    background-color: $color;
    color: #fefefe;
    border: 0;
    padding: 13px 28px;
    font-size: small;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1.2px;
    line-height: 12px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.4s ease;
    
    &:hover{
        background-color: rgb(220, 154, 73)
    }
}
.button__black{
    background-color: black;
    color: #fefefe;
    border: 0;
    padding: 13px 28px;
    font-size: small;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1.2px;
    line-height: 12px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.4s ease;
    
    &:hover{
        background-color: rgba(0, 0, 0,0.8)
    }
}
.button__transparent{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 13px 28px;
    font-size: small;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1.2px;
    line-height: 12px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.4s ease;
    
    &:hover{
        color: #fefefe;
        background-color: rgba(0, 0, 0,0.9)
    }
}


.main{
   background-color: #fefefe;

   &__bgpic{
    background: url("../public/images/home/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 70vh;
    padding-top: 40%;
    color: #fefefe;

    @include devices(tablet){
        height: 76vh;
        background-position:bottom -50px right 10px;
        background-color: $bgcolor;
        background-size: cover;
        background-position-y: bottom;
        justify-content: center;
        // align-items:flex-start;
        text-align: start;
        padding-top: initial;
        padding-bottom: 80px;
        padding-left: 100px;

    }
    
    @include devices(desktop){
        height: 86vh;
        background-position:center;
        background-color: $bgcolor;
        background-size: 88%;
        background-position-y: bottom;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        padding-top: initial;
        padding-bottom: 80px;
        padding-left: 200px;

    }

    &___heading{
        font-size: 19px;
        color: rgba(209, 209, 209, 0.718);
        line-height: 2px;


        @include devices(desktop){
            font-size: 20px;
            letter-spacing: 3px;
            font-weight: 400;
        }
    }
    &___name{
        font-size: 38px;
        letter-spacing: 1.2px;
        margin: 15px 0;

        @include devices(tablet){
            max-width: 300px;
        }

        @include devices(desktop){
            font-size: 3.5rem;
            letter-spacing: 4px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 50px;
            margin: 0;
            max-width: 390px;
            text-align: start;
        }
    }
    &___para{
        padding: 0 15px;
        letter-spacing: 1.1px;
        line-height: 20px;
        color: rgb(180, 176, 176);
        margin: 0 0 10px 0;

        @include devices(tablet){
            padding: 0 0;
            max-width: 350px;
        }

        @include devices(desktop){
            // font-size: large;
            padding: 0 0;
            max-width: 370px;
            line-height: 23px;
            letter-spacing: 1px;
            text-align: start;
            padding: 0;
        }
    }
   }
}

