@import '../variables';
@import '../mixins';

.container{
    background-color: white;
    padding: 0 0 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &__heading{
        border-top: 1px solid gray;
        background-color: $color;
        color: #fefefe;
        text-align: center;
        padding: 30px;
        font-size: 1.7rem;
        font-weight: 500;
        @include devices(desktop){
            padding: 80px;
            border: 0;
            font-size: 2.5rem;
        }
    }
    &__cardsection{
        @include devices(desktop){
            padding: 10px 0 0 0;
        }
    }
}